<div class="row">
  <div class="w3-card col-md-5 col-sm-12 col-xs-12" *ngFor="let v of videos">
    <div class="card-body">
      <h5 class="card-title app-click" (click)="openViewModal(v)">{{ v.video.snippet.title | titlecase }}</h5>
      <p>{{ v.video.snippet.publishedAt | date: 'dd-MMM-yyyy' }}</p>
      <iframe [id]="v.id" [src]="v.url" style="width: 100%; height: 20rem;" frameborder="0" webkitallowfullscreen
        mozallowfullscreen allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
